@import url("screen.css");
@import url("aqua-dark.css");

* {
	text-shadow: 0px 0px 0.188em black
}

[element="Flame"] {
	background: linear-gradient(#bc3232, #912323);
	color: LightSalmon
}

[element="Wind"] {
	background: linear-gradient(#39d394, #188e42);
	color: greenyellow
}

[element="Water"] {
	background: linear-gradient(#398ed6, #18418c);
	color: aqua
}

[element="Light"] {
	background: linear-gradient(#d6c739, #947518);
	color: yellow
}

[element="Shadow"] {
	background: linear-gradient(#bd3cd6, #521884);
	color: pink
}

[rarity="3"] {
	border: 1px solid rgb(165, 81, 66);
}

[rarity="4"] {
	border: 1px solid rgb(99, 142, 165);
}

[rarity="5"] {
	border: 1px solid rgb(173, 130, 8, 0.75);
}

[collected="0"] {
	filter: grayscale(90%);
}

[unlocked="1"] {
	background-color: green;
}

content button {
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}

th, td {
	border: black 1px solid;
}

.circle {
	background: orange;
}

td {
	background: grey;
}
