@import url("aqua-dark.css");

.hide {
	display: none;
}

.Flame {
	--element-bg-color: linear-gradient(#bc3232, #912323);
}

.Wind {
	--element-bg-color: linear-gradient(#39d394, #188e42);
}

.Water {
	--element-bg-color: linear-gradient(#398ed6, #18418c);
}

.Light {
	--element-bg-color: linear-gradient(#d6c739, #947518);
}

.Shadow {
	--element-bg-color: linear-gradient(#bd3cd6, #521884);
}

.r03 {
	border: 1px solid rgb(165, 81, 66);
}

.r04 {
	border: 1px solid rgb(99, 142, 165);
}

.r05 {
	border: 1px solid rgb(173, 130, 8, 0.75);
}

.collected0 {
	filter: grayscale(90%);
}

.unlocked1 {
	background-color: green;
}

body {
	font-family: "\30D2\30E9\30AE\30CE\89D2\30B4 Pro W3",
		"Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", "Meiryo", "Osaka",
		"\FF2D\FF33 \FF30\30B4\30B7\30C3\30AF", "MS P Gothic", sans-serif;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

main {
	display: flex;
	flex-direction: row;
	flex-grow: 2;
	overflow: auto;
}

content,
subcontent {
	overflow: auto;
}

subcontent {
	width: 100%;
}

content button {
	width: 100%;
	text-align: left;
	background: /*url("/images/banners/100001_01_banner.png") right, */ var(
		--element-bg-color
	);
	color: white;
	text-shadow: 1px 1px 2px black, -1px -1px 2px black;
	text-transform: uppercase;
}

th {
	background: #555;
	column-span: all;
}

td {
	background: #333;
}

td:empty {
	display: none;
}

.header {
	text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
